@charset "UTF-8";
html {
  font-size: 20px;
  font-family: var(--tipografia-principal)
}

:root{
  --titulo-cor: #FFAB30;
  --cor-secundaria: #7D7D7D;
  --tipografia-principal: 'Ysabeau SC', sans-serif;
}

body, p, h1, h2, h3, h4, a, button, span, div, main, section, nav, footer, figure, ul, li{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: black;
}

.intro{
  color: var(--titulo-cor);
  background: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.intro h1{
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 700;
}

nav {
  background-color: var(--cor-secundaria);
  display: none;
}

.active{
  display: block;
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
}

li a{
  color:rgb(255, 255, 255);

}

li {
  border: 1px solid;
  color:rgb(194, 194, 194) ;
  text-align: center;  
  padding: 10px 5px;
}

#robbu-whatsapp-button{
  z-index: 2;
}

#burger {
  background-color:rgb(51, 51, 51);
  display: block;
  padding: 0px;
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 5px 0px;
}

#burger:hover {
  cursor: pointer;
}

#sobre{
  padding-top: 60px;
  padding-left: 10px;
  background: #fcfaf9;
  font-family: Roboto, sans-serif;

}

#sobre h2{
  text-transform: uppercase;
  font-weight: 500;
}

#sobre p{
  font-family: Roboto, sans-serif ;
  font-style: italic;
  padding: 20px 0px;
  margin-bottom: 30px;  
  font-weight: 400;
}

#img-sobre{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0px;
  border-radius: 50%;
}

#img-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-bottom: 40px;
  max-width: 700px;
}

#galeria{
  background: rgb(51, 51, 51);
  color: white;  
}

#galeria>a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 30px;
}

#galeria>a p{
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 4px rgba(243.75, 123.9945652173913, 0, 0.88);
  background-image: linear-gradient(180deg, #FF6A00 0%, var(--titulo-cor) 100%);
  font-weight: 500;
  color: white;
}

#zap {
  padding-left: 5px;
}
.projetos{
  padding-left: 10px;
}
.projetos h3{
  color:var(--titulo-cor)
}
.projetos h4 {
  font-size: 28px;
  text-transform: uppercase;
}

.projetos p {
  color:#9b9b9b
}

.autoplay{
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 80px;
  border-radius: 50px;
  max-width: 450px;
} 

.autoplay img{
  height: 500px;  
  width: 500px;  
  border-radius: 50px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  color: var(--titulo-cor);
  font-size: 20px;
}

.slick-list{
  border-radius: 30px;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  border: none;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #dbdbdb;
  opacity: 1;
}

.square-info{
  background-color:rgb(51, 51, 51) ; 
  display: inline-flex;  
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;  
}

.square{
  border: 1px solid rgb(252, 247, 220);
  box-shadow: 0px 0px 7px 2px rgb(255, 241, 159);
  text-align: center;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px 0px;
  font-size: 30px;
  border-radius: 5px;
  color: var(--titulo-cor);
}

#local{
  background: #fffdfb;
  padding-top: 50px;
  padding-left: 10px;
}

#local>p {
  padding: 10px 0px;
  font-size: 20px;
  font-family: Roboto, Arial, sans-serif;
}

#mapa{
  margin: 40px auto 0px auto;
  max-width: 600px;
  padding-left: 0px;
}

.mapa-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#mapa-desc {
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
}

#contato{
  background: #fff7ec;
  padding-left: 10px;  
  color:#585858
}

#contato h3{
  text-align:center;
  font-weight: 600;
  text-transform: uppercase;
  
}

#contato p{
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  padding-top: 20px;
}

#contato a{
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 15px 30px;
  font-size: 24px;
  border: 2px solid #ffe1b9;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  color: var(--titulo-cor)
}

.contato-container{
  display:inline-flex;
  width: 90%;
  justify-content: center;
}

#contato a i{
  padding-right: 10px;
}

footer{
  padding-top: 20px;
  text-align: center;
  background: black;
  color: rgb(168, 168, 168);
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

footer a{
  color: var(--titulo-cor)
}
